{
    "ecmaFeatures": {
        "es6": true,
        "classes": true,
        "modules": true,
        "blockBindings": true,
        "arrowFunctions": true,
        "templateStrings": true,
    },
    "env": {
      "es6"
    }
}
