<event-info
  get-loc-class="reply.getLocClass('eventInfo')"
  name="reply.eSvc.eventInfo.name"
  time="reply.eSvc.eventInfo.start_time"
  location="reply.eSvc.eventInfo.location"
  invitee-name="reply.iSvc.inviteeInfo.self.first_name"
  get-started-fn="reply.nextState()"
></event-info>
<attendance
  get-loc-class="reply.getLocClass('attendance')"
  will-attend-fn="reply.iSvc.attending(true)"
  will-not-attend-fn="reply.iSvc.attending(false)"
  back-fn="reply.prevState()"
  save-and-continue-fn="reply.nextState()"
>
</attendance>
<plus-one
  get-loc-class="reply.getLocClass('plusOne')"
  will-attend-fn="reply.iSvc.poAttending(true)"
  will-not-attend-fn="reply.iSvc.poAttending(false)"
  first-name="reply.iSvc.inviteeInfo.friends[0].self.first_name"
  last-name="reply.iSvc.inviteeInfo.friends[0].self.last_name"
  back-fn="reply.prevState()"
  save-and-continue-fn="reply.nextState()"
>
</plus-one>
<food-info
  get-loc-class="reply.getLocClass('food')"
  invitee-name="reply.iSvc.inviteeInfo.self.first_name"
  invitee-menu-choices="reply.iSvc.inviteeInfo.self.menu_choices"
  invitee-note="reply.iSvc.inviteeInfo.self.menu_note"
  friend-name="reply.iSvc.inviteeInfo.friends[0].self.first_name"
  friend-attending="reply.iSvc.inviteeInfo.friends[0].self.attending"
  friend-menu-choices="reply.iSvc.inviteeInfo.friends[0].self.menu_choices"
  friend-note="reply.iSvc.inviteeInfo.friends[0].self.menu_note"
  menu-items="reply.mISvc.menuItems"
  back-fn="reply.prevState()"
  save-and-continue-fn="reply.nextState()"
>
</food-info>
<seating
  get-loc-class="reply.getLocClass('seating')"
  choices="reply.eSvc.SeatingRequestChoices"
  seating-requests="reply.iSvc.inviteeInfo.seating_request"
  remove-seating-request-fn="reply.iSvc.removeSeatingRequest(id)"
  add-seating-request-fn="reply.iSvc.addSeatingRequest(obj)"
  back-fn="reply.prevState()"
  save-and-continue-fn="reply.nextState()"
>
</seating>
<verify
  get-loc-class="reply.getLocClass('verify')"
  invitee-first-name="reply.iSvc.inviteeInfo.self.first_name"
  invitee-last-name="reply.iSvc.inviteeInfo.self.last_name"
  friend-first-name="reply.iSvc.inviteeInfo.friends[0].self.first_name"
  friend-last-name="reply.iSvc.inviteeInfo.friends[0].self.last_name"
  invitee-attending="reply.iSvc.inviteeInfo.self.attending"
  friend-attending="reply.iSvc.inviteeInfo.friends[0].self.attending"
  menu-items="reply.mISvc.menuItems"
  invitee-menu-choices="reply.iSvc.inviteeInfo.self.menu_choices"
  friend-menu-choices="reply.iSvc.inviteeInfo.friends[0].self.menu_choices"
  invitee-note="reply.iSvc.inviteeInfo.self.menu_note"
  friend-note="reply.iSvc.inviteeInfo.friends[0].self.menu_note"
  seating-requests="reply.iSvc.inviteeInfo.seating_request"
  back-fn="reply.prevState()"
  save-and-continue-fn="reply.nextState()"
>
</verify>
<thanks
  get-loc-class="reply.getLocClass('thanks')"
  name="reply.eSvc.eventInfo.name"
  time="reply.eSvc.eventInfo.start_time"
  location="reply.eSvc.eventInfo.location"
>
</thanks>
<nav>
  <div ng-repeat="item in reply.statesObj.list | filter : reply.displayNavItem" class="nav__item" ng-class="item.name == reply.statesObj.getCurrentState().name ? 'active' : ''" ng-click="reply.statesObj.gotoState(item)">{{item.display}}</div>
</nav>
