<md-toolbar class="md-primary md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>Capacious</span>
    </h2>
    <md-button aria-label="Events" ng-click="ac.goToState('admin.events')">
      Events
    </md-button>
    <span flex></span>
    <md-button aria-label="Logout" ng-click="ac.logout()">
      Logout
    </md-button>
  </div>
</md-toolbar>
<md-toolbar class="md-tall md-primary">
   <div class="md-toolbar-tools">
     <h2>
        <span></span>
      </h2>
    </div>
</md-toolbar>

<ui-view></ui-view>
