<div class="screen screen-2 cmpt-spouse grid" ng-class="getLocClass()">
  <h2>Will your spouse/significant other be attending?</h2>

  <div class="form-group horizontal">
    <label>Please choose one</label>
    <button ng-click="willAttendFn()">Yes</button>
    <button ng-click="willNotAttendFn()">No</button>
  </div>

  <div class="form-group horizontal margin-left border-top-mobile">
    <label>Spouse's first name</label>
    <input ng-model="firstName" type="text" />
  </div>

  <div class="form-group horizontal">
    <label>Spouse's last name</label>
    <input ng-model="lastName" type="text" />
  </div>

  <div class="cmpt-button">
    <button ng-click="backFn()">Back</button>
    <button class="primary" ng-disabled="attending && (firstName.length == 0 || lastName.length == 0)" ng-click="saveAndContinueFn()">Save & Continue</button>
  </div>
</div>
