<div class="screen screen-4 cmpt-seating" ng-class="getLocClass()">
  <h2>Would you like to be seated with anyone?</h2>

  <h5>You may select up to 5 people. We cannot guarantee that you’ll be seated with all of your requests but will do our best to accommodate as many as possible.</h5>

  <label>Start typing to search for other attendees</label>

  <div class="grid">
    <div class="search unit half">
      <span class="icon-search"></span>
      <angucomplete-alt id="ex1"
        placeholder="Search"
        pause="100"
        selected-object="add"
        local-data="choices"
        search-fields="first_name,last_name,full_name"
        title-field="first_name,last_name"
        minlength="1"
        input-class="search-input"
        clear-selected="true"
      />
    </div>

    <div class="attendee-labels unit half">
      <span class="attendee-label" ng-repeat="(key, value) in seatingRequests" ng-click="remove(value)">{{value.first_name}} {{value.last_name}}</span>
    </div>
  </div>


  <div class="cmpt-button">
    <button ng-click="backFn()">Back</button>
    <button class="primary" ng-click="saveAndContinueFn()">Save & Continue</button>
  </div>
</div>
