<div class="screen screen-5 cmpt-verify" ng-class="getLocClass()">
  <h2>Please verify your information</h2>

  <div class="grid">
    <div class="unit half" ng-if="inviteeAttending">
      <h4>{{inviteeFirstName}} {{inviteeLastName}}</h4>

      <div ng-repeat="(key, item) in menuItems" ng-class="key == 0 ? 'margin-top' : ''">
        <label>{{item.name}}</label>
        <h5>{{(item.options | filter: {menu_item_option_id: inviteeMenuChoices[item.menu_item_id]})[0].name}}</h5>
      </div>

      <label class="border-top no-border-mobile">Notes</label>
      <h5 ng-if="inviteeNote.length == 0">No Dietary Notes</h5>
      <h5 ng-if="inviteeNote.length != 0">{{inviteeNote}}</h5>
    </div>

    <div class="unit half" ng-if="inviteeAttending && friendAttending">
      <h4 class="border-top-mobile">{{friendFirstName}} {{friendLastName}}</h4>

      <div ng-repeat="(key, item) in menuItems" ng-class="key == 0 ? 'margin-top' : ''">
        <label>{{item.name}}</label>
        <h5>{{(item.options | filter: {menu_item_option_id: friendMenuChoices[item.menu_item_id]})[0].name}}</h5>
      </div>

      <label class="border-top no-border-mobile">Notes</label>
      <h5 ng-if="friendNote.length == 0">No Dietary Notes</h5>
      <h5 ng-if="friendNote.length != 0">{{friendNote}}</h5>
    </div>

    <div ng-if="inviteeAttending">
      <label class="border-top">Request to be seated by</label>
      <h6 ng-repeat="(key, value) in seatingRequests">{{value.first_name}} {{value.last_name}}</h6>
    </div>
  </div>

  <div ng-if="!inviteeAttending">
    <h4>You will not be attending.</h4>
    <h5>You can come back to this link at any time if you change your mind.</h5>
  </div>

  <div class="cmpt-button">
    <button ng-click="backFn()">Back</button>
    <button class="primary" ng-click="saveAndContinueFn()">Save & Finish</button>
  </div>
</div>
