html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body.reply {
  margin: 0;
  background: url('../assets/bg.jpg') no-repeat;
  font-family: 'Open Sans';
  font-weight: 400;
  width: 100%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  z-index: -2;
}
/* Heading styles */
.reply h1,
.reply h2 {
  font-family: 'livory';
  font-weight: 500;
  color: #BD9960;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.reply h1 {
  font-size: 5.5rem;
}
.reply h2 {
  font-size: 4rem;
}
.reply h4 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}
.reply h5 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
  margin-top: 0;
}
.reply p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 3rem;
}
.reply label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #8A8A8A;
}
/* Button Styles */
.reply button {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  padding: 0.8rem 2.5rem;
  background: none;
  border: 1px solid #717171;
  color: white;
  border-radius: 3px;
  margin-left: 0.3rem;
}
.reply button:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
.reply button:active {
  background-color: rgba(255, 255, 255, 0.25);
}
.reply button:focus {
  outline: none;
  border-color: #b1b1b1;
}
.reply button.primary {
  border-color: #E3A33D;
}
.reply button.primary:hover {
  background-color: rgba(227, 163, 61, 0.15);
}
.reply button.primary:active {
  background-color: rgba(227, 163, 61, 0.25);
}
.reply button.primary:focus {
  outline: none;
  border-color: #f3d8ac;
}

.reply button.selected-yes {
  background: rgba(94, 156, 94, 0.75);
  border-color: rgba(91, 191, 91, 0.75);
}

.reply button.selected-no {
  background: rgba(156, 94, 103, 0.75);
  border-color: rgba(191, 91, 119, 0.75);
}

.reply button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.reply button:disabled:hover {
  background: none;
}
.reply button:disabled.primary:hover {
  background: none;
}
/* input styles */
.reply input[type='text'],
.reply input[type='password'],
.reply textarea {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #717171;
  color: white;
  border-radius: 3px;
  margin-left: 0.3rem;
}
.reply input[type='text']:focus,
.reply input[type='password']:focus,
.reply textarea:focus {
  outline: none;
  border-color: #BFBFBF;
  background: rgba(0, 0, 0, 0.75);
}
.reply textarea {
  width: 100%;
  max-width: 100%;
  max-height: 150px;
}
.reply .select-container {
  position: relative;
}
.reply .select-container select {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  padding-right: 35px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #717171;
  color: white;
  border-radius: 3px;
  margin-left: 0.3rem;
  width: 100%;
  -webkit-appearance: none;
}
.reply .select-container select:focus {
  outline: none;
  border-color: #BFBFBF;
  background: rgba(0, 0, 0, 0.75);
}
.reply .select-container span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
}
/* forms */
.reply .form-group.horizontal {
  display: inline-block;
}
.reply .form-group.vertical {
  margin-top: 1.5rem;
}
.reply .form-group.vertical input[type='text'],
.reply .form-group.vertical input[type='password'],
.reply .form-group.vertical textarea,
.reply .form-group.vertical select {
  margin-left: 0;
}
.reply .content {
  width: 960px;
}
/* Background square styles */
.reply .square-bg-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.reply .square-bg {
  position: fixed;
  width: 50vw;
  height: 50vw;
  background: #000;
  opacity: 0.2;
  transform: rotate(45deg);
}
.reply .square1 {
  left: -100px;
  top: -50px;
}
.reply .square2 {
  left: -400px;
  top: 500px;
}
.reply .square3 {
  left: 500px;
  top: -10px;
}
.reply .square4 {
  left: -100px;
  top: -50px;
}
.reply nav {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 1.4rem;
}
.reply nav .nav__item {
  padding: 0.5rem;
  color: #8A8888;
  font-weight: 300;
  transition: transform 60ms;
}
.reply nav .nav__item.allow-hover {
  cursor: pointer;
}
.reply nav .nav__item.allow-hover:hover {
  color: #BDBDBD;
  transform: translateX(-5px);
}
.reply nav .nav__item.active {
  color: #fff;
  font-weight: 600;
  transform: translateX(-5px);
}
.reply .screen {
  position: absolute;
  width: calc(100vw - 200px);
  max-width: 960px;
  padding-left: 5rem;
  transition: transform 1s, opacity 1s;
}
.reply .screen.active {
  top: 50%;
  transform: translateY(-50%);
}
.reply .screen.prev {
  top: 50%;
  transform: translateY(-250%);
  opacity: 0.5;
}
.reply .screen.prev-all {
  top: 50%;
  transform: translateY(-350%);
  opacity: 0;
}
.reply .screen.next {
  top: 50%;
  transform: translateY(300%);
  opacity: 0;
}

.reply .loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  z-index: 5;
}

.reply .loader {
  margin-left: auto;
  margin-right: auto;
  width: 21px;
  margin-top: 50%;
  transform: translateY(-50%);
}


.reply .modal {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.89);
  left: 7rem;
  right: 7rem;
  top: 7rem;
  bottom: 7rem;
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.25);
}

.reply .modal .icon-cross {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 3.4rem;
  opacity: 0.5;
  cursor: pointer;
}

.reply .modal .icon-cross:hover {
  opacity: 1;
}

.reply .show-menu {
  cursor: pointer;
}

.reply .cmpt-button {
  margin-top: 4rem;
}
.reply .cmpt-intro p {
  max-width: 620px;
}
.reply .cmpt-spouse .margin-left {
  margin-left: 4rem;
}

.reply .show-menu {
  font-size: 1.5rem;
  margin-top: -1rem;
  display: block;
  margin-bottom: 1rem;
  color: #6E94DE;
  text-decoration: underline;
}
.reply .cmpt-seating label {
  margin-top: 1.5rem;
}
.reply .cmpt-seating .search {
  position: relative;
  margin-bottom: 1rem;
}
.reply .cmpt-seating .search .icon-search {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.reply .cmpt-seating .search .search-input {
  width: 100%;
  padding-left: 3rem;
  margin-left: 0;
}
.reply .attendee-label {
  font-size: 1.5rem;
  padding: 0.8rem 1.3rem 0.8rem 1.8rem;
  background: rgba(93, 93, 93, 0.41);
  border: 1px solid #D1D1D1;
  color: white;
  border-radius: 3px;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
  display: inline-block;
  cursor: pointer;
}
.reply .attendee-label:after {
  font-family: 'icomoon';
  content: "\e117";
  font-size: 1.4rem;
  margin-left: 0.6rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.reply .attendee-label:hover {
  background: rgba(93, 93, 93, 0.75);
}
.reply .attendee-label:active {
  background: rgba(93, 93, 93, 0.2);
}
.reply .cmpt-verify h5 {
  margin-bottom: 2rem;
}
.reply .cmpt-verify h6 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-left: 1rem;
}
.reply .cmpt-verify h6:first-of-type {
  margin-left: 0;
}
.reply .cmpt-verify label {
  font-size: 13px;
  color: #A1A1A1;
  margin-bottom: 0.3rem;
}
.reply .cmpt-verify .border-top {
  margin-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
  padding-top: 1.5rem;
  clear: both;
}
.reply .cmpt-verify .menu-items:nth-of-type(1) {
  margin-top: 3rem;
}
.reply .cmpt-thanks h1 {
  margin-top: 3rem;
}
@media (max-width: 568px) {
  body.reply {
    overflow: auto;
  }
  .reply nav {
    display: none;
  }
  .reply h1 {
    font-size: 4.5rem;
  }
  .reply h2 {
    font-size: 3rem;
  }
  .reply .content {
    width: 100%;
    padding: 2rem;
  }
  .reply .square-container {
    display: none;
  }
  .reply .screen {
    position: initial;
    display: none;
    width: 100%;
    padding: 1rem;
    top: initial;
    max-width: none;
    transition: none;
  }
  .reply .screen.active {
    display: block;
    transform: none;
  }
  .reply .screen.prev-all {
    display: none;
  }

  .reply .modal {
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    overflow-y: scroll;
  }

  .reply .grid .unit {
    padding-left: 0;
    padding-right: 0;
  }
  .reply .cmpt-button button:first-child {
    width: 27%;
  }
  .reply .cmpt-button button:last-child {
    width: 70%;
  }
  .reply .cmpt-intro .cmpt-button button {
    width: 100%;
  }
  .reply .cmpt-spouse .form-group.border-top-mobile {
    border-top: 1px solid #A5A5A5;
    padding-top: 2rem;
    margin-top: 1.5rem;
  }
  .reply .cmpt-spouse .form-group.horizontal {
    width: 100%;
    margin-bottom: 1rem;
  }
  .reply .cmpt-spouse .form-group.horizontal input {
    width: 100%;
  }
  .reply .cmpt-spouse .form-group.margin-left {
    margin-left: 0;
  }
  .reply .cmpt-food .border-top-mobile {
    border-top: 1px solid #A5A5A5;
    padding-top: 2rem;
    margin-top: 3rem;
  }
  .reply .cmpt-seating .attendee-labels {
    margin-top: 2rem;
  }
  .reply .cmpt-verify .no-border-mobile {
    border: none;
  }
  .reply .cmpt-verify .border-top-mobile {
    border-top: 1px solid #A5A5A5;
    padding-top: 2rem;
  }
}

.reply .single-menu-item {
  margin-top: 1rem;
}

/*
* angucomplete
*/

.reply .angucomplete-holder {
    position: relative;
}

.reply .angucomplete-dropdown {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #BFBFBF;
  color: white;
  border-radius: 3px;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -2px;
  max-height: 250px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.reply .angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.reply .angucomplete-description {
    font-size: 14px;
}

.reply .angucomplete-row {
    padding: 5px;
    color: white;
    margin-bottom: 4px;
    clear: both;
    border: 1px solid transparent;
}

.reply .angucomplete-selected-row {
    background-color: rgba(93, 93, 93, 0.41);
    border: 1px solid #7A7A7A;
    border-radius: 3px;
    color: white;
}

.reply .angucomplete-title {
  padding-left: 6px;
}

/*
* login
*/

.login-container {
  margin-top: 100px;
}

/*
* event admin
*/

.ea-container {
  margin-top: 50px;
  color: black;
}

.admin-events ui-view md-content.card-container,
.admin-event-details ui-view md-content.card-container {
  margin-top: 25px;
}

.admin-events md-content.card-container div.card,
.admin-event-details md-content.card-container div.card {
  z-index: 5;
  margin-left: 75px;
  margin-right: 75px;
}

md-card md-card-title {
  padding: 24px 16px 16px;
}
