@font-face {
  font-family: 'livorybold_italic';
  src: url('../fonts/livory_bold_italic-webfont.eot');
  src: url('../fonts/livory_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/livory_bold_italic-webfont.woff2') format('woff2'), url('../fonts/livory_bold_italic-webfont.woff') format('woff'), url('../fonts/livory_bold_italic-webfont.ttf') format('truetype'), url('../fonts/livory_bold_italic-webfont.svg#livorybold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'livorybold';
  src: url('../fonts/livory_bold-webfont.eot');
  src: url('../fonts/livory_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/livory_bold-webfont.woff2') format('woff2'), url('../fonts/livory_bold-webfont.woff') format('woff'), url('../fonts/livory_bold-webfont.ttf') format('truetype'), url('../fonts/livory_bold-webfont.svg#livorybold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'livoryregular_italic';
  src: url('../fonts/livory_italic-webfont.eot');
  src: url('../fonts/livory_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/livory_italic-webfont.woff2') format('woff2'), url('../fonts/livory_italic-webfont.woff') format('woff'), url('../fonts/livory_italic-webfont.ttf') format('truetype'), url('../fonts/livory_italic-webfont.svg#livoryregular_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'livory';
  src: url('../fonts/livory_regular-webfont.eot');
  src: url('../fonts/livory_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/livory_regular-webfont.woff2') format('woff2'), url('../fonts/livory_regular-webfont.woff') format('woff'), url('../fonts/livory_regular-webfont.ttf') format('truetype'), url('../fonts/livory_regular-webfont.svg#livory_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
