<md-content layout="row" layout-align="center center" class="card-container">
  <div flex="75" class="card">
    <md-card>
      <md-card-content>
        <md-list>
            <div layout="row">
              <div flex>
                <h1>Total Attending: {{edac.totalAttending}}</h1>
              </div>
              <div flex>
                <md-checkbox ng-model="edac.showAttending">
                  Show Attending
                </md-checkbox>
              </div>
              <div flex>
                <md-checkbox ng-model="edac.showNotAttending">
                  Show Not Attending
                </md-checkbox>
              </div>
            </div>
          <md-list-item
            class="md-2-line"
            ng-repeat="invitee in edac.aSvc.event_invitees | filter:edac.filterAttendingNotAttending(edac.showAttending, edac.showNotAttending)"
          >
            <div class="md-list-item-text">
              <div layout="row">
                <div flex>
                  <h3>{{invitee.self.first_name}} {{invitee.self.last_name}}</h3>
                  <h4>{{invitee.self.attending ? "attending" : "not attending"}}</h4>
                </div>
                <div flex>
                  <div ng-if="invitee.self.attending && invitee.friends[0] != undefined && invitee.friends[0].self.attending">
                    <h3>{{invitee.friends[0].self.first_name}} {{invitee.friends[0].self.last_name}}</h3>
                    <h4>{{invitee.friends[0].self.attending ? "attending" : "not attending"}}</h4>
                  </div>
                </div>
                <div flex>
                  <h3 ng-if="invitee.seating_request.length > 0">Seating Requests</h3>
                  <h4 ng-repeat="req in invitee.seating_request">{{req.first_name}} {{req.last_name}}</h4>
                </div>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</md-content>
